<!DOCTYPE html>

<html>
  <head>
    <title>Vue.js</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <script src="./js/jquery-3.1.0.js"></script>
    <script src="./js/jquery.simpleWeather.js"></script>
    <script src="./js/bootstrap.js"></script>
  </head>

  <body>
    <!--<div class="container">-->
    <div id="weather">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <input class="form-control" id="inputField" v-model="newPlace" v-on:keyup.enter="addLocation" placeholder="Write city name and press Enter">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div v-for="place in places" >

          <div class="weather-widget col-md-6" data-index="{{ $index }}" data-location="{{ place.location }}">
            <div  class="panel panel-info">

              <div id="{{ $index }}-heading" class="panel-heading"></div>

              <div id="{{ $index }}-body" class="panel-body">

                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div id="{{ $index }}-icon" class="panel-body">
                      
                    </div>
                  </div>
                </div>

                <div class="col-md-8">

                  <div class="col-sm-5">
                    <div class="panel panel-default">
                      <div id="{{ $index }}-temp" class="panel-body">

                      </div>
                    </div>
                  </div>

                  <div class="col-sm-7">
                    <div class="panel panel-default">
                      <div id="{{ $index }}-currently" class="panel-body">

                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">

                    <div class="panel-group" id="{{ $index }}-accordion" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <button class="btn btn-info" role="button" data-toggle="collapse" data-parent="#{{ $index }}-accordion" href="#{{ $index }}-collapse" aria-expanded="false" aria-controls="{{ $index }}-collapse">
                            Four day forecast
                          </button>
                        </div>

                        <div id="{{ $index }}-collapse" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="{{ $index }}-heading">
                          <div class="panel-body">
                            <div class="col-md-3">
                              <div class="panel panel-default">
                                <div class="panel-heading text-center" id="{{ $index }}-forecast-1-heading">

                                </div>
                                <div class="panel-body text-center" id="{{$index}}-forecast-1-body">
                                  
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="panel panel-default">
                                <div class="panel-heading text-center" id="{{ $index }}-forecast-2-heading">

                                </div>
                                <div class="panel-body text-center" id="{{$index}}-forecast-2-body">

                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="panel panel-default">
                                <div class="panel-heading text-center" id="{{ $index }}-forecast-3-heading">

                                </div>
                                <div class="panel-body text-center" id="{{$index}}-forecast-3-body">

                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="panel panel-default">
                                <div class="panel-heading text-center" id="{{ $index }}-forecast-4-heading">

                                </div>
                                <div class="panel-body text-center" id="{{$index}}-forecast-4-body">

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>


                </div>

              </div>
              <div class="panel-footer">
                <div class="form-group text-right">
                  <button class="btn btn-danger" v-on:click="removeLocation($index)">Remove</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>


    </div>
    <!--</div>-->



    <footer>

      <script src="./js/vue.js" charset="utf-8"></script>
      <script src="./js/main.js" charset="utf-8"></script>

      <script>
vm.jqueryLoadWeather();
      </script>
    </footer>
  </body>
</html>
